@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="gA Jobs Site">
    <meta name="author" content="Grupo ASSA">
    <title>@ViewBag.Title</title>

    
    <link href="~/Content/Bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/css/bootstrap-responsive.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
    <link href="~/Content/Theme/main.css" type="text/css" rel="stylesheet" />
    
    <script src="~/Content/Bootstrap/js/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script src="~/Content/Bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/TwitterBootstrapMvcJs.js"></script>



    <link rel="shortcut icon" href="http://www.grupoassa.com/favicon.ico" type="image/x-icon">
</head>
<body>
    <!-- HEADER BOOTSTRAP -->
    <div class="span12" style="margin:0px auto !important; float:none !important;">
        <div class="navbar">
            <h1><img src="~/Content/Images/Miscelaneous/logo.png" title="Grupo ASSA" /></h1>
            <div class="navbar-inner">
                <div class="container-fluid">

                    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <!-- Be sure to leave the brand out there if you want it shown -->
                    <a class="brand" href="#">Empleos</a>

                    <!-- Everything you want hidden at 940px or less, place within here -->
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="@ViewBag.ICOHome"><a href="@Url.Action("Index","Home")"><i class="icon-home"></i></a></li>
                            <li class="@ViewBag.ICOHacemos"><a href="@Url.Action("AboutGA","Home")">¿Qué Hacemos?</a></li>
                            <li class="@ViewBag.ICOWhere"><a href="@Url.Action("Locations","Home")">Donde Estamos</a></li>
                            <li class="@ViewBag.ICOCV"><a href="@Url.Action("Form","Upload")">Carga tu CV</a></li>
                        </ul>
                        
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cambiar Idioma: <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("SetCulture", "Base", new { culture = "es" })">Español</a></li>
                                    <li><a href="@Url.Action("SetCulture", "Base", new { culture = "pt" })">Portugués</a></li>
                                    <li><a href="@Url.Action("SetCulture", "Base", new { culture = "en" })">English</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>


        <!-- END HEADER BOOTSTRAP -->
        <div id="content">
            @RenderBody()
        </div>
        <div id="footer">

        </div>
    </div>
    
</body>
</html>
