@using Azteca.Models
@using Azteca.Helpers
@model  Azteca.Models.Postulante

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    ViewBag.ICOHome = "";
    ViewBag.ICOCV = "active";
    ViewBag.ICOHacemos = "" ;
    
}
<style>
    .required {
        color:red;
        font-weight:bold !important;
        margin-left: 2px;
    
    }

</style>


<div class="container-fluid text-normal">
    <div class="row-fluid">
        <div class="span3 hidden-phone">
            <h2 class="text-head">@Resources.Form_h1</h2>
            <hr />
            <img src="http://grupoassa.com/wp-content/uploads/2012/04/Foto1020-960x319.jpg" /><br /><br />
            <p>@Resources.Form_text</p>
        </div>
        <div class="span7">
            <div class="visible-phone">
                <h2>Carga tu CV</h2>
                <hr />
            </div>
            @using (var f = Html.Bootstrap().Begin(new Form("Form", "Upload").FormMethod(FormMethod.Post).Type(FormType.Horizontal).HtmlAttributes(new { @enctype = "multipart/form-data" })))
            {
                @(f.ControlGroup().TextBoxFor(m => m.cv_name)
                    .Size(InputSize.BlockLevel)
                    .Placeholder(Resources.Form_name_ph)
                )
                @(f.ControlGroup().TextBoxFor(m => m.cv_lastname)
                        .Size(InputSize.BlockLevel)
                    .Placeholder(Resources.Form_lastname_ph)
                )
                @(f.ControlGroup().TextBoxFor(m => m.cv_email)
                    .Size(InputSize.BlockLevel)
                    .Placeholder(Resources.Form_email_ph)
                )
                @(f.ControlGroup().TextBoxFor(m => m.cv_dateofbirth)
                    .Size(InputSize.BlockLevel)
                    .Placeholder(Resources.Form_dateofbirth_ph)
                    .Class("hasDatepicker")
                )
                @(f.ControlGroup().DropDownListFor(m => m.cv_country, RepositoryHelper.GetCountries())
                    .Size(InputSize.BlockLevel)
                            .OptionLabel(Resources.Form_select_ph) 
                )
                @(f.ControlGroup().TextBoxFor(m => m.cv_city)
                    .Placeholder(Resources.Form_city_ph)
                    .Class("autocompl")
                    .Size(InputSize.BlockLevel)
                )
                <hr />
                @(f.ControlGroup().DropDownListFor(m => m.cv_degree, RepositoryHelper.GetStudies(CultureHelper.GetCurrentNeutralCulture()))
                   .Size(InputSize.BlockLevel)
                       .OptionLabel(Resources.Form_select_ph)             
                )
                @(f.ControlGroup().DropDownListFor(m => m.cv_english, RepositoryHelper.GetEnglish())
                    .Size(InputSize.BlockLevel)
                            .OptionLabel(Resources.Form_select_ph) 
                )
                
                @(f.ControlGroup().DropDownListFor(m => m.cv_howto, RepositoryHelper.GetHowTo(CultureHelper.GetCurrentNeutralCulture()))
                    .Size(InputSize.BlockLevel)
                            .OptionLabel(Resources.Form_select_ph) 
                )
                @(f.ControlGroup().DropDownListFor(m => m.cv_availability, RepositoryHelper.GetAvailability(CultureHelper.GetCurrentNeutralCulture()))
                    .Size(InputSize.BlockLevel)
                        .OptionLabel(Resources.Form_select_ph) 
                )
                @(f.ControlGroup().RadioButtonTrueFalseFor(m => m.cv_travel_disp)
                    .InputLabelsText(Resources.Form_travel_yes, Resources.Form_travel_no)
                        .HtmlAttributesInputFalse( new { @checked = "checked" })                  
                )

                <div class="control-group">
                    <label class="control-label" for="inputEmail">@Resources.Form_jobarea</label>
                    <div class="controls">
                        @foreach (JobArea j in RepositoryHelper.GetJobAreas(CultureHelper.GetCurrentNeutralCulture()))
                        {
                            <label class="checkbox">
                                <input name="cv_job_area" type="checkbox" value="@j.name">
                                @j.name
                            </label>
                        }

                    </div>
                </div>
                <hr />
                @f.ControlGroup().DropDownListFor(m => m.cv_applyto, RepositoryHelper.GetApplyTo(CultureHelper.GetCurrentNeutralCulture())).OptionLabel(Resources.Form_select_ph)
                @f.ControlGroup().TextAreaFor(m => m.cv_otherinfo)
                @f.ControlGroup().TextBoxFor(m => m.cv_salary).Size(InputSize.Medium).Placeholder(Resources.Form_salary_ph1).Prepend(Resources.Form_salary_ph2).Append(".00")
                @f.ControlGroup().FileFor(m => m.cv_file)

                <br />
                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="controls">
                            <label class="checkbox">
                                <input name="privacy_accept" type="checkbox"> @Resources.Form_privacy_label_1 <a href="@Url.Action("GAPolicies","Home")">@Resources.Form_privacy_label_2</a> <span class="required">*</span>
                            </label>
                        <span style="color:#b94a48">@Html.ValidationMessageFor(m => m.privacy_accept)</span>
                    </div>
        
                </div>
                
                
                @f.ControlGroup().CustomControls(Html.Bootstrap().SubmitButton().Class("btn-success"))
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () { 
        $(".hasDatepicker").datepicker();
            $.datepicker.setDefaults({
                dateFormat: 'MM/dd/yy'
            });

    });

</script>