@using Azteca.Models
@using Azteca.Helpers
@model  Azteca.Models.Postulante

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    ViewBag.ICOHome = "";
    ViewBag.ICOCV = "active";
    ViewBag.ICOHacemos = "" ;
    
}
<style>
    .required {
        color:red;
        font-weight:bold;
        margin-left: 2px;
    
    }

</style>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3 hidden-phone">
            <h2>Ingresá tu CV</h2>
            <hr />
            <img src="http://grupoassa.com/wp-content/uploads/2012/04/Foto1020-960x319.jpg" /><br /><br />
            <p>Grupo ASSA, es una empresa en la cual más de 1200 personas, aportan sus ideas, pasión y talento en múltiples equipos y proyectos en Latinoamérica, USA, Europa y Asia. Ahora podes formar parte de nuestro equipo y crecer profesionalmente.</p>
        </div>
        <div class="span7">
            <div class="visible-phone">
                <h2>Ingresá Tu CV</h2>
                <hr />
            </div>
            @using (var f = Html.Bootstrap().Begin(new Form("Form", "Upload").FormMethod(FormMethod.Post).Type(FormType.Horizontal).HtmlAttributes(new { @enctype = "multipart/form-data" })))
            {
                @(f.ControlGroup().TextBoxFor(m => m.cv_name)
                    .Size(InputSize.BlockLevel)
                    .Placeholder("ej: Juan")
                )
                @(f.ControlGroup().TextBoxFor(m => m.cv_lastname)
                        .Size(InputSize.BlockLevel)
                    .Placeholder("ej: Pérez")
                )
                @(f.ControlGroup().TextBoxFor(m => m.cv_email)
                    .Size(InputSize.BlockLevel)
                    .Placeholder("ej: prueba@ejemplo.com")
                )
                @(f.ControlGroup().TextBoxFor(m => m.cv_dateofbirth)
                    .Size(InputSize.BlockLevel)
                    .Placeholder("dd/mm/yyyy")
                    .Class("hasDatepicker")
                )
                @(f.ControlGroup().DropDownListFor(m => m.cv_country, (SelectList)ViewBag.countryList)
                    .Size(InputSize.BlockLevel)
                        .OptionLabel("--- Seleccionar ---") 
                )
                @(f.ControlGroup().TextBoxFor(m => m.cv_city)
                    .Placeholder("ej: Olivos")
                    .Class("autocompl")
                    .Size(InputSize.BlockLevel)
                )
                <hr />
                @(f.ControlGroup().DropDownListFor(m => m.cv_degree, (SelectList) ViewBag.carrerList)
                   .Size(InputSize.BlockLevel)   
                   .OptionLabel("--- Seleccionar ---")             
                )
                @(f.ControlGroup().DropDownListFor(m => m.cv_english, (SelectList)ViewBag.englishList)
                    .Size(InputSize.BlockLevel)
                        .OptionLabel("--- Seleccionar ---") 
                )
                
                @(f.ControlGroup().DropDownListFor(m => m.cv_howto, (SelectList)ViewBag.howtoList)
                    .Size(InputSize.BlockLevel)
                        .OptionLabel("--- Seleccionar ---") 
                )
                @(f.ControlGroup().DropDownListFor(m => m.cv_availability, (SelectList)ViewBag.availabilityList)
                    .Size(InputSize.BlockLevel)
                        .OptionLabel("--- Seleccionar ---") 
                )
                @(f.ControlGroup().RadioButtonTrueFalseFor(m => m.cv_travel_disp)
                    .InputLabelsText("Si", "No")
                        .HtmlAttributesInputFalse( new { @checked = "checked" })                  
                )

                <div class="control-group">
                    <label class="control-label" for="inputEmail">Áreas de Trabajo</label>
                    <div class="controls">
                        @foreach (JobArea j in (List<JobArea>)ViewBag.jobAreas)
                        {
                            <label class="checkbox">
                                <input name="cv_job_area" type="checkbox" value="@j.name">
                                @j.name
                            </label>
                        }

                    </div>
                </div>
                <hr />
                @f.ControlGroup().DropDownListFor(m => m.cv_applyto, (SelectList)ViewBag.applyTo).OptionLabel("--- Seleccionar ---")
                @f.ControlGroup().TextAreaFor(m => m.cv_otherinfo)
                @f.ControlGroup().TextBoxFor(m => m.cv_salary).Size(InputSize.Medium).Placeholder("Cantidad en ARS").Prepend("$").Append(".00")
                @f.ControlGroup().FileFor(m => m.cv_file)




                @f.ControlGroup().CustomControls(Html.Bootstrap().SubmitButton().Class("btn-success"))
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () { 
        $(".hasDatepicker").datepicker();
            $.datepicker.setDefaults({
                dateFormat: 'dd/mm/yy'
            });

    });

</script>