@model  Azteca.Models.Postulante

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    ViewBag.ICOHome = "";
    ViewBag.ICOCV = "active";
    ViewBag.ICOHacemos = "" ;
}
<style>
    .required {
        color:red;
        font-weight:bold;
        margin-left: 2px;
    
    }

</style>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3 visible-desktop">
            asdasdasd
        </div>
        <div class="span7">
            @using (var f = Html.Bootstrap().Begin(new Form("Form", "Upload").Class("form-horizontal")))
            {
                @(f.ControlGroup().TextBoxFor(m => m.cv_name)
                    .Size(InputSize.BlockLevel)
                    .Placeholder("ex: Juan")
                )
                @(f.ControlGroup().TextBoxFor(m => m.cv_lastname)
                        .Size(InputSize.BlockLevel)
                    .Placeholder("ex: Perez")
                )
                @(f.ControlGroup().TextBoxFor(m => m.cv_email)
                    .Size(InputSize.BlockLevel)
                    .Placeholder("ex: prueba@ejemplo.com")
                )
                @(f.ControlGroup().TextBoxFor(m => m.cv_dateofbirth)
                    .Size(InputSize.BlockLevel)
                    .Placeholder("dd/mm/yyyy")
                    .Class("hasDatepicker")
                )
                @(f.ControlGroup().DropDownListFor(m => m.cv_country, (SelectList)ViewBag.countryList)
                    .Size(InputSize.BlockLevel)
                )
                @(f.ControlGroup().TextBoxFor(m => m.cv_city)
                    .Placeholder("ex: Olivos")
                    .Class("autocompl")
                    .Size(InputSize.BlockLevel)
                )
                @(f.ControlGroup().DropDownListFor(m => m.cv_degree, (SelectList) ViewBag.carrerList)
                   .Size(InputSize.BlockLevel)                
                )
                @(f.ControlGroup().DropDownListFor(m => m.cv_english, (SelectList)ViewBag.englishList)
                    .Size(InputSize.BlockLevel)
                )
                
                @(f.ControlGroup().DropDownListFor(m => m.cv_howto, (SelectList)ViewBag.howtoList)
                    .Size(InputSize.BlockLevel)
                )
                @(f.ControlGroup().DropDownListFor(m => m.cv_availability, (SelectList)ViewBag.availabilityList)
                    .Size(InputSize.BlockLevel)
                )
                @(f.ControlGroup().RadioButtonTrueFalseFor( m => m.cv_travel_disp)
                    .InputLabelsText("Si", "No")
                )
                


                

                @f.ControlGroup().CustomControls(Html.Bootstrap().SubmitButton().Class("btn-success"))
            }
        </div>
    </div>
</div>

<script>

    $(".hasDatepicker").datepicker();
    $.datepicker.setDefaults({
        dateFormat: 'dd/mm/yy'
    });



</script>