@{
    ViewBag.Title = "AboutGA";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.ICOHome = "";
    ViewBag.ICOCV = "";
    ViewBag.ICOHacemos = "active";
    ViewBag.ICOWhere = "";
}

<style>
    .jumbotron {
        margin: 30px 0;
        text-align: center;
    }

        .jumbotron h1 {
            font-size: 80px;
            line-height: 1;
        }

    .accordion-toggle .img-circle {
        margin-top: 35px;
    }
</style>

<div class="jumbotron">
    <div class="img-rounded"><center><img src="~/Content/Images/Miscelaneous/AboutGA.jpg"></center></div>
    <h1>@Resources.AboutGA_WhatDoWeDo</h1>
</div>

<hr>

<div class="row-fluid">
    <div class="span5 offset1">
        <p>@Resources.AboutGA_p1</p>
        <p>@Resources.AboutGA_p2</p>
    </div>
    <div class="span5">
        <p>@Resources.AboutGA_p3</p>
    </div>
</div>

<center>
            <ul id="myTab" class="nav nav-tabs">
                <li class="">
                    <a href="#TeContamos" data-toggle="tab">@Resources.AboutGA_Tab01</a>
                </li>
                <li class="">
                    <a href="#NuestraHistoria" data-toggle="tab">@Resources.AboutGA_Tab02</a>
                </li>
            </ul>

            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="TeContamos">
                    <iframe class="youtube-player" typeof="text/html" height="460" width="460" src="http://www.youtube.com/v/bw-sjgq-nSI?fs=1&amp;hl=en_US&amp;rel=0" frameborder="0"></iframe>
                </div>

                <div class="tab-pane fade in" id="NuestraHistoria">
                    <iframe class="youtube-player" typeof="text/html" height="460" width="460" src="http://www.youtube.com/v/xzonIR194jo?fs=1&amp;hl=en_US&amp;rel=0" frameborder="0"></iframe>
                </div>
            </div>
</center>




