@{
    ViewBag.Title = "Grupo ASSA";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.ICOHome = "active";
    ViewBag.ICOCV = "";
    ViewBag.ICOHacemos = "";
}

<div class="img-rounded"><center><img src="~/Content/Images/Miscelaneous/Innovation_Final.jpg"></center></div>

<hr>

<!-- Example row of columns -->
<div class="row-fluid">
    <div class="span4">
        <center><h2 class="text-head">@Resources.Index_WhatWeDo_Header</h2></center>
        <p class="text-normal">@Resources.Index_WhatWeDo_p1</p>
        <p class="text-normal">@Resources.Index_WhatWeDo_p2</p>
        <center><p><a class="text-button btn" href="@Url.Action("AboutGA","Home")">@Resources.Index_WhatWeDo_Button  &raquo;</a></p></center>
    </div>

    
    <div class="span4">
        <center><h2 class="text-head">@Resources.Index_WhyTo_Header</h2></center>
        <p class="text-normal">@Resources.Index_WhyTo_p1</p>
    </div>


    <div class="span4">
        <center><h2 class="text-head">@Resources.Index_JoinGA_Header</h2></center>
        <p class="text-normal">@Resources.Index_JoinGA_p1</p>
        <center><p><a class="text-button btn" href="@Url.Action("Form","Upload")">@Resources.Index_JoinGA_Button &raquo;</a></p></center>
    </div>
</div>


