@{
    ViewBag.Title = "Grupo ASSA";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.ICOHome = "";
    ViewBag.ICOCV = "";
    ViewBag.ICOHacemos = "";
    ViewBag.ICOWhere = "active";
}
<style>
    .jumbotron {
        margin: 30px 0;
        text-align: center;
    }

        .jumbotron h1 {
            font-size: 80px;
            line-height: 1;
        }

    .accordion-toggle .img-circle {
        margin-top: 35px;
    }
</style>


<div class="jumbotron">
    <div class="img-rounded"><center><img src="~/Content/Images/Miscelaneous/OfficeDistributionMap.jpg"></center></div>
    <h1>@Resources.Locations_Header_Main</h1>
</div>

<hr>

<div class="row-fluid">
    <div class="span6">
        
        <p><b>@Resources.Locations_ARG</b></p>
        <li>
            <p><b>@Resources.Locations_ARG_BSAS</b></p>
            <p>@Resources.Locations_ARG_BSAS_p1</p>
            <p>@Resources.Locations_ARG_BSAS_p2</p>
        </li>
        <li>
            <p><b>@Resources.Locations_ARG_Tandil</b></p>
            <p>@Resources.Locations_ARG_Tandil_p1</p>
            <p>@Resources.Locations_ARG_Tandil_p2</p>
        </li>
    </div>

    <div class="span6">
        <p><b>@Resources.Locations_USA</b></p>
        <li>
            <p><b>@Resources.Locations_USA_Miami</b></p>
            <p>@Resources.Locations_USA_Miami_p1</p>
            <p>@Resources.Locations_USA_Miami_p2</p>
        </li>
    </div>
</div>

<hr>

<div class="row-fluid">
    <div class="span6">
        <p><b>@Resources.Locations_BRA</b></p>
        <li>
            <p><b>@Resources.Locations_BRA_SP</b></p>
            <p>@Resources.Locations_BRA_SP_p1</p>
            <p>@Resources.Locations_BRA_SP_p2</p>
        </li>
        <li>
            <p><b>@Resources.Locations_BRA_BarraFunda</b></p>
            <p>@Resources.Locations_BRA_BarraFunda_p1</p>
            <p>@Resources.Locations_BRA_BarraFunda_p2</p>
        </li>
        <li>
            <p><b>@Resources.Locations_BRA_Curitiba</b></p>
            <p>@Resources.Locations_BRA_Curitiba_p1</p>
            <p>@Resources.Locations_BRA_Curitiba_p2</p>
        </li>
    </div>

    <div class="span6">
        <p><b>@Resources.Locations_MEX</b></p>
        <li>
            <p><b>@Resources.Locations_MEX_City</b></p>
            <p>@Resources.Locations_MEX_City_p1</p>
            <p>@Resources.Locations_MEX_City_p2</p>

            <p>@Resources.Locations_MEX_City_p3</p>
            <p>@Resources.Locations_MEX_City_p4</p>
        </li>
        <li>
            <p><b>@Resources.Locations_MEX_Monterrey</b></p>
            <p>@Resources.Locations_MEX_Monterrey_p1</p>
            <p>@Resources.Locations_MEX_Monterrey_p2</p>
        </li>
    </div>
</div>

<hr>

<div class="row-fluid">
    <div class="span6">
        <p><b>@Resources.Locations_CHI</b></p>
        <li>
            <p><b>@Resources.Locations_CHI_Santiago</b></p>
            <p>@Resources.Locations_CHI_Santiago_p1</p>
            <p>@Resources.Locations_CHI_Santiago_p2</p>
        </li>
    </div>

    <div class="span6">
        <p><b>@Resources.Locations_COL</b></p>
        <li>
            <p><b>@Resources.Locations_COL_Bogota</b></p>
            <p>@Resources.Locations_COL_Bogota_p1</p>
            <p>@Resources.Locations_COL_Bogota_p2</p>
        </li>
    </div>
</div>